extends templates/layout

block script
    script(src="static/js/comment.js" defer)

block content
    if err
        p=err

    if data
        table(border="0")    

                each article in data
                    div#article.date
                        tr
                            td
                                form(method="POST")#commentForm
                                    input(type="text", name="clickedDate", id=article.date, value=article.clickedDate)
                                    button="Submit!"
                            td
                                a(href=article.url)=`[${article.date}] ${article.title}`



