extends templates/layout

block content

    if data
        table(border="0")    
            each article in data
                div#eachArticle(data-id=article._id)
                    tr
                        td
                            form#commentForm
                                input(type="text", name="clickedDate", value=article.clickedDate)#clickedDate
                                button(type="submit")="Submit!"
                        td
                            a(href=`${article.url}`)=`[${article.date}] ${article.title}`        

block script
    script(src="static/js/comment.js")