extends templates/layout

block content
    if err
        p=err

    if data
        table(border="0")    

                each article in data
                    div#article.date
                        tr
                            td
                                form(method="POST")#commentForm
                                    input(type="text", name="clickedDate", id=article.date, value=article.clickedDate)
                                    button="Submit!"
                            td
                                a(href=`${article.url}`, onclick="test(event)")=`[${article.date}] ${article.title}`        


